<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index_style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <a class="logout" href="/logout">Log Out</a>
            <p class="welcome">Welcome, {{request.session.first_name}}</p>
            <hr>
        </header>
        <main>
            <div class="add-book">
                <p class="title">Add a Favorite Book</p>
                <form action="/books/add_book", method="post">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td class="space">Title</td>
                            <td class="space"><input class="full-width" type="text" name="title"></td>
                        </tr>
                        <tr>
                            <td class="space">Description</td>
                            <td class="space"><textarea class="full-width" name="desc" rows="5"></textarea></td>
                        </tr>
                    </table>
                    <input class="btn" type="submit" value="Add">
                </form>
            </div>
            <div class="all-books">
                <p class="title">All Books</p>
                {% for book in books %}
                    <div class="book">
                        <p><a href="/books/{{book.id}}">{{book.title}}</a></p>
                        <p>(added by {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}})</p>
                        {% if book in user.liked_books.all %}
                            <p>this is one of your favorites</p>
                        {% else %}
                            <a href="/books/add_favorite/{{book.id}}/main">Add to Favorites</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </main>
        {% if messages %}
            <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>